:root {
    --accent: #a83e1d;
    --accent-hover: #933417;
    --accent-text: #933417;
    --accent-wash: #fbe4d6;
}
:root:not([data-theme="light"]) {
    @media (prefers-color-scheme: dark) {
        --accent: #a83e1d;
        --accent-hover: #ff922b;
        --accent-text: #ffb877;
        --accent-wash: #3a2413;
    }
}
:root[data-theme="dark"] {
    --accent: #a83e1d;
    --accent-hover: #ff922b;
    --accent-text: #ffb877;
    --accent-wash: #3a2413;
}
